# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules

# profiling files
chrome-profiler-events*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
#cache
/.angular/cache
/. argon-design-system-pro-angular-v1.3.0/.angular/cache/13.3.9/angular-webpack/17d76a0ec81b3e43067255199b4f6ab1cbc21e2e/1.pack 
/. argon-design-system-pro-angular-v1.3.0/.angular/cache/13.3.9/angular-webpack/949459d0fc7fd2b5b0edb7a2b3a895ee4be09933/1.pack  argon-design-system-pro-angular-v1.3.0/.angular/cache/13.3.9/angular-webpack/b5f8cd1eb3f5663386edec21561a8ad86f15e651/0.pack 
argon-design-system-pro-angular-v1.3.0/.angular/cache/13.3.9/angular-webpack/17d76a0ec81b3e43067255199b4f6ab1cbc21e2e/1.pack 
argon-design-system-pro-angular-v1.3.0/.angular/cache/13.3.9/angular-webpack/949459d0fc7fd2b5b0edb7a2b3a895ee4be09933/1.pack 
argon-design-system-pro-angular-v1.3.0/.angular/cache/13.3.9/angular-webpack/b5f8cd1eb3f5663386edec21561a8ad86f15e651/0.pack 

