<div class="wrapper">
  <div class="page-header header-filter page-header-small">
    <div
      class="page-header-image"
      style="background-image: url('assets/img/lucas-benjamin.jpg');"
    ></div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
          <h1 class="title">Our Pricing Plan</h1>
          <h4 class="description">
            To get started, you will need to choose a plan for your needs. You
            have Free Unlimited Updates and Premium Support on each package.
          </h4>
        </div>
      </div>
    </div>
  </div>
  <div class="main">
    <div class="pricing-2 project-raised">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="card card-pricing">
              <div class="card-header bg-danger">
                <span class="badge badge-default"> Pro </span>
                <h1 class="card-title"><small> $ </small> 45</h1>
                <h5>per month</h5>
              </div>
              <div class="card-body">
                <ul>
                  <li><i class="tim-icons icon-check-2"> </i> 2000 MB</li>
                  <li><i class="tim-icons icon-email-85"> </i> 100 email</li>
                  <li>
                    <i class="tim-icons icon-chart-bar-32"> </i> 10 Databases
                  </li>
                  <li>
                    <i class="tim-icons icon-alert-circle-exc"> </i> Support
                  </li>
                </ul>
                <a class="btn btn-info mt-4" href="javascript:void(0)">
                  Get started
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card card-pricing">
              <div class="card-header bg-info">
                <span class="badge badge-default"> Starter </span>
                <h1 class="card-title"><small> $ </small> 22</h1>
                <h5>per month</h5>
              </div>
              <div class="card-body">
                <ul>
                  <li><i class="tim-icons icon-check-2"> </i> 1000 MB</li>
                  <li><i class="tim-icons icon-email-85"> </i> 3 email</li>
                  <li>
                    <i class="tim-icons icon-chart-bar-32"> </i> 5 Databases
                  </li>
                  <li>
                    <i class="tim-icons icon-alert-circle-exc"> </i> No Support
                  </li>
                </ul>
                <a class="btn btn-info mt-4" href="javascript:void(0)">
                  Get started
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card card-pricing">
              <div class="card-header bg-warning">
                <span class="badge badge-default"> Enterprise </span>
                <h1 class="card-title"><small> $ </small> 68</h1>
                <h5>per month</h5>
              </div>
              <div class="card-body">
                <ul>
                  <li><i class="tim-icons icon-check-2"> </i> 10.000 MB</li>
                  <li>
                    <i class="tim-icons icon-email-85"> </i> Unlimited emails
                  </li>
                  <li>
                    <i class="tim-icons icon-chart-bar-32"> </i> 50 Databases
                  </li>
                  <li>
                    <i class="tim-icons icon-alert-circle-exc"> </i> Premium
                    Support
                  </li>
                </ul>
                <a class="btn btn-info mt-4" href="javascript:void(0)">
                  Get started
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="features-1">
      <div class="container">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
            <span class="badge badge-primary badge-pill"> Insight </span>
            <h1 class="title">Full-Funnel Social Analytics</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="info info-hover">
              <div class="icon icon-primary">
                <img
                  class="bg-blob"
                  src="assets/img/feature-blob/primary.png"
                />

                <i class="tim-icons icon-user-run"> </i>
              </div>
              <h4 class="info-title">Social Conversations</h4>
              <p class="description">
                Gain access to the demographics, psychographics, and location of
                unique people.
              </p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="info info-hover">
              <div class="icon icon-success">
                <img
                  class="bg-blob"
                  src="assets/img/feature-blob/success.png"
                />

                <i class="tim-icons icon-atom"> </i>
              </div>
              <h4 class="info-title">Analyze Performance</h4>
              <p class="description">
                Unify data from Facebook, Instagram, Twitter, LinkedIn, and
                Youtube to gain rich insights.
              </p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="info info-hover">
              <div class="icon icon-warning">
                <img
                  class="bg-blob"
                  src="assets/img/feature-blob/warning.png"
                />

                <i class="tim-icons icon-gift-2"> </i>
              </div>
              <h4 class="info-title">Measure Conversions</h4>
              <p class="description">
                Track actions taken on your website, understand the impact on
                your bottom line.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="contactus-3">
      <div class="page-header header-filter">
        <div
          class="page-header-image"
          style="background-image: url('assets/img/andre-benz.jpg');"
        ></div>
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-center">
              <h1 class="title">Got a question?</h1>
              <h3>We'd like to talk more about what you need</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3">
            <div class="info info-hover">
              <div class="icon icon-primary">
                <img
                  class="bg-blob"
                  src="assets/img/feature-blob/primary.png"
                />

                <i class="tim-icons icon-square-pin"> </i>
              </div>
              <h4 class="info-title">Address</h4>
              <p class="description">12124 First Street, nr 54</p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="info info-hover">
              <div class="icon icon-info">
                <img class="bg-blob" src="assets/img/feature-blob/info.png" />

                <i class="tim-icons icon-email-85"> </i>
              </div>
              <h4 class="info-title">Email</h4>
              <p class="description">support@youremail.com</p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="info info-hover">
              <div class="icon icon-warning">
                <img
                  class="bg-blob"
                  src="assets/img/feature-blob/warning.png"
                />

                <i class="tim-icons icon-mobile"> </i>
              </div>
              <h4 class="info-title">Phone Number</h4>
              <p class="description">+1(424) 535 3523</p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="info info-hover">
              <div class="icon icon-success">
                <img
                  class="bg-blob"
                  src="assets/img/feature-blob/success.png"
                />

                <i class="tim-icons icon-single-02"> </i>
              </div>
              <h4 class="info-title">Contact</h4>
              <p class="description">Andrew Samian</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section projects-2">
      <div class="container">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto text-center">
            <h2 class="title">We continually work to improve</h2>
            <h4 class="description">
              By accepting this, you will be kept up to date on new developments
              concerning the CMS
            </h4>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-md-4">
            <div class="card card-blog">
              <div class="card-image h-100">
                <img
                  class="img rounded"
                  src="http://s3.amazonaws.com/creativetim_bucket/products/38/original/opt_mk_thumbnail.jpg?1458052306s"
                />
              </div>
              <div class="card-body text-left">
                <div class="card-footer mt-0">
                  <div class="stats stats-right">
                    <div class="stars text-warning">
                      <i class="tim-icons icon-shape-star"> </i>
                      <i class="tim-icons icon-shape-star"> </i>
                      <i class="tim-icons icon-shape-star"> </i>
                      <i class="tim-icons icon-shape-star"> </i>
                      <i class="tim-icons icon-shape-star"> </i>
                    </div>
                  </div>
                  <div class="author">
                    <img
                      alt="..."
                      class="avatar img-raised"
                      src="assets/img/Tim.png"
                    />

                    <span> Material Kit </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card card-blog">
              <div class="card-image h-100">
                <img
                  class="img rounded"
                  src="https://s3.amazonaws.com/creativetim_bucket/products/93/original/opt_bd_thumbnail.jpg?1535098178"
                />
              </div>
              <div class="card-body text-left">
                <div class="card-footer mt-0">
                  <div class="stats stats-right">
                    <i class="tim-icons icon-heart-2 text-danger"> </i> 342 Â·
                    <i class="tim-icons icon-single-copy-04 text-info"> </i> 43
                  </div>
                  <div class="author">
                    <img
                      alt="..."
                      class="avatar img-raised"
                      src="assets/img/Tim.png"
                    />

                    <span> Black Dashboard </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card card-blog">
              <div class="card-image h-100">
                <img
                  class="img rounded"
                  src="https://s3.amazonaws.com/creativetim_bucket/products/137/original/opt_adp_thumbnail.jpg?1544778965"
                />
              </div>
              <div class="card-body text-left">
                <div class="card-footer mt-0">
                  <div class="stats stats-right">
                    <i class="tim-icons icon-heart-2 text-danger"> </i> 127
                  </div>
                  <div class="author">
                    <img
                      alt="..."
                      class="avatar img-raised"
                      src="assets/img/Tim.png"
                    />

                    <span> Argon Dashboard Pro </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="subscribe-line">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-10 ml-auto mr-auto">
            <div class="text-center">
              <h2 class="title">Subscribe to our Newsletter</h2>
              <p class="description">
                You'll be informed about updates, special offers and planned
                changes..
              </p>
            </div>
            <div class="card card-raised card-form-horizontal">
              <div class="card-body">
                <form action="" method="">
                  <div class="row">
                    <div class="col-sm-8">
                      <div
                        class="input-group"
                        [ngClass]="{ 'input-group-focus': focus1 === true }"
                      >
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="tim-icons icon-email-85"> </i>
                          </span>
                        </div>
                        <input
                          class="form-control"
                          placeholder="Your Email..."
                          type="email"
                          (blur)="focus1 = false"
                          (focus)="focus1 = true"
                        />
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <button class="btn btn-danger" type="button">
                        Subscribe
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
