
.alert.alert-with-icon {
    margin-top: 43px;
    padding-left: 66px;
}
.alert.alert-rose {
    box-shadow: 0 4px 20px 0px rgb(0 0 0 / 14%), 0 7px 10px -5px rgb(233 30 99 / 40%);
}
.alert.alert-rose {
    background-color: #ea2c6d;
    color: #ffffff;
}
.alert-info, .alert-danger, .alert-warning, .alert-success, .alert-rose {
    color: #ffffff;
}
.alert, .alert.alert-default {
    background-color: white;
    color: #555555;
}
.alert {
    border: 0;
    border-radius: 3px;
    position: relative;
    padding: 20px 15px;
    line-height: 20px;
}
.alert {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.common_find_match {
    font-size: 45px;
    padding: 80px 0;
}
.common_find_match {
    color: #ff5a60;
    font-size: 25px;
    text-align: center;
    font-family: Raleway,sans-serif!important;
    font-weight: 500;
    padding: 30px 0;
}
.text-center {
    text-align: center!important;
}
.row {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
*, :after, :before {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
body {
    font-family: Roboto,sans-serif;
}
body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,Liberation Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}
html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
*, :after, :before {
    box-sizing: border-box;
}
*, :after, :before {
    box-sizing: border-box;
}