<div class="wrapper">
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <h2 class="title">Order summary</h2>
          <div class="card">
            <div class="card-body">
              <div class="media align-items-center mb-3">
                <div class="col-md-5 col-6">
                  <img
                    alt="Rounded image"
                    class="img-fluid rounded shadow"
                    src="assets/img/gucci.png"
                  />
                </div>
                <div class="media-body">
                  <h2 class="h6">Shorts</h2>
                  <small class="d-block text-secondary"> Small </small>
                </div>
                <div class="media-body text-right"><span> $29 </span></div>
              </div>
              <div class="media align-items-center">
                <div class="col-md-5 col-6">
                  <img
                    alt="Rounded image"
                    class="img-fluid rounded shadow"
                    src="assets/img/jacket.png"
                  />
                </div>
                <div class="media-body"><h2 class="h6 mb-0">Jacket</h2></div>
                <div class="media-body text-right"><span> $999 </span></div>
              </div>
              <hr class="line-info mb-5" />

              <form class="code-validate">
                <label> Discount </label>
                <div class="input-group">
                  <input
                    aria-label="Discount"
                    class="form-control"
                    name="name"
                    placeholder="Discount Code"
                    type="text"
                  />

                  <div class="input-group-append">
                    <button class="btn btn-info" type="submit">Apply</button>
                  </div>
                </div>
              </form>
              <hr class="line-info mb-3" />

              <div class="media align-items-center">
                <h3 class="h6 text-secondary mr-3">Subtotal</h3>
                <div class="media-body text-right"><span> $1038 </span></div>
              </div>
              <div class="media align-items-center">
                <h3 class="h6 text-secondary mr-3">Shipping</h3>
                <div class="media-body text-right"><span> $5.8 </span></div>
              </div>
              <hr class="line-info mb-3" />

              <div class="media align-items-center">
                <h3 class="h6">Total</h3>
                <div class="media-body text-right">
                  <span class="font-weight-semi-bold"> $1045.8 </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <form class="js-validate">
            <div class="container">
              <h3 class="title">Billing address</h3>
              <div class="row">
                <div class="col-md-6">
                  <label class="labels">
                    First name <span class="text-danger"> * </span>
                  </label>
                  <input
                    aria-label="Cristopher"
                    class="form-control"
                    name="firstName"
                    placeholder="Cristopher"
                    required=""
                    type="text"
                  />
                </div>
                <div class="col-md-6">
                  <label class="labels">
                    Last name <span class="text-danger"> * </span>
                  </label>
                  <input
                    aria-label="Thompson"
                    class="form-control"
                    name="lastName"
                    placeholder="Thompson"
                    required=""
                    type="text"
                  />
                </div>
              </div>
              <br />

              <div class="row">
                <div class="col-md-6">
                  <div class="js-form-message mb-6">
                    <label class="labels">
                      Email address <span class="text-danger"> * </span>
                    </label>
                    <input
                      aria-label="thompson@gmail.com"
                      class="form-control"
                      name="emailAddress"
                      placeholder="thompson@gmail.com"
                      required=""
                      type="email"
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="js-form-message mb-6">
                    <label class="labels"> Phone </label>
                    <input
                      aria-label="+4 (0762) 230991"
                      class="form-control"
                      placeholder="+4 (0762) 230991"
                      type="text"
                    />
                  </div>
                </div>
              </div>
              <br />

              <div class="row">
                <div class="col-md-8">
                  <div class="js-form-message mb-6">
                    <label class="labels">
                      Street address <span class="text-danger"> * </span>
                    </label>
                    <input
                      aria-label="420 Long Beach, CA"
                      class="form-control"
                      name="streetAddress"
                      placeholder="420 Long Beach, CA"
                      required=""
                      type="text"
                    />
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="js-form-message mb-6">
                    <label class="labels">
                      Postcode/Zip <span class="text-danger"> * </span>
                    </label>
                    <input
                      aria-label="340112"
                      class="form-control"
                      name="postcode"
                      placeholder="340112"
                      required=""
                      type="text"
                    />
                  </div>
                </div>
              </div>
              <br />

              <div class="row">
                <div class="col-md-4">
                  <div class="js-form-message mb-6">
                    <label class="labels"> Apt, suite, etc. </label>
                    <input
                      aria-label="YC7B 3UT"
                      class="form-control"
                      placeholder="YC7B 3UT"
                      type="text"
                    />
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="js-form-message mb-6">
                    <label class="labels">
                      City <span class="text-danger"> * </span>
                    </label>
                    <input
                      aria-label="London"
                      class="form-control"
                      name="cityAddress"
                      placeholder="London"
                      required=""
                      type="text"
                    />
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="mb-6">
                    <label class="labels">
                      Country <span class="text-danger"> * </span>
                    </label>
                    <angular2-multiselect
                      [data]="data1"
                      [settings]="settings1"
                      [(ngModel)]="selectedItems1"
                      name="select"
                    >
                    </angular2-multiselect>
                  </div>
                </div>
              </div>
              <h4 class="title">Payment method</h4>
              <tabset class=" checkout-btn-group">
                <tab>
                  <ng-template tabHeading> Credit card </ng-template>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="js-form-message">
                        <label class="form-label"> Card number </label>
                        <input
                          aria-label="**** **** **** ***"
                          class="form-control"
                          name="cardNumber"
                          placeholder="**** **** **** ***"
                          required=""
                          type="text"
                        />
                      </div>
                    </div>
                  </div>
                  <br />

                  <div class="row">
                    <div class="col-md-8">
                      <div class="js-form-message mb-6">
                        <label class="form-label"> Card holder </label>
                        <input
                          aria-label="Jack Wayley"
                          class="form-control"
                          name="cardHolder"
                          placeholder="Jack Wayley"
                          required=""
                          type="text"
                        />
                      </div>
                    </div>
                    <div class="col-md-2">
                      <div class="js-form-message mb-6">
                        <label class="form-label"> Expiration </label>
                        <input
                          aria-label="MM/YY"
                          class="form-control"
                          name="cardExpirationDate"
                          placeholder="MM/YY"
                          required=""
                          type="text"
                        />
                      </div>
                    </div>
                    <div class="col-md-2">
                      <div class="js-form-message mb-6">
                        <label class="form-label"> CVC </label>
                        <input
                          aria-label="***"
                          class="form-control"
                          name="cardCVC"
                          placeholder="***"
                          required=""
                          type="text"
                        />
                      </div>
                    </div>
                  </div>
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <a href="javascript:void(0)">
                      <span class="fas fa-angle-left mr-2"> </span> Return to
                      cart
                    </a>
                    <button class="btn btn-info btn-sm" type="submit">
                      Order now
                    </button>
                  </div>
                </tab>
                <tab>
                  <ng-template tabHeading> PayPal </ng-template>
                  <h5>Send payment to:</h5>
                  <input
                    class="form-control"
                    placeholder="Name or email"
                    required=""
                    type="text"
                  />

                  <br />

                  <button class="btn btn-info btn-sm" type="submit">
                    Pay with PayPal
                  </button>
                </tab>
              </tabset>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
