<nav class="navbar navbar-expand-lg bg-primary">
  <div class="container">
    <div class="navbar-wrapper">
      <a class="navbar-brand" href="#">DatingApp</a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" data-target="#navbarNav">
      <span class="sr-only">Toggle navigation</span>
      <span class="navbar-toggler-icon icon-bar">g</span>
      <span class="navbar-toggler-icon icon-bar"></span>
      <span class="navbar-toggler-icon icon-bar"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav" *ngIf="LoggedIn">
       
        <li class="nav-item active">
          <a class="nav-link" href="javascript:;">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:;">Matches</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:;">List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  href="#" href="#">Messages</a>
         
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="logout()">Logout</a>
         
        </li>
        
      </ul>
      <div class="dropdown" *ngIf="LoggedIn" dropdown>
        <a class="dropdown-toggle text-light" dropdown>Welcome User</a>
        <div class="dropdown menu" *dropdownMenu>
          <a class="dropdown-item">Edit profile</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="logout()">Logout</a>
        </div>
      </div>

      
      
      <form *ngIf="!LoggedIn" #loginForm="ngForm"  class="form-inline my-2 my-lg-0" (ngSubmit)="login()" autocomplete="off">
        <input class="form-control"  name="username"  [(ngModel)]="model.username" type="text" placeholder="Username" aria-label="Username">
        <input class="form-control" name="password" [(ngModel)]="model.password" type="password" placeholder="Password" aria-label="Password">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
      </form>
    </div>
  </div>
</nav>



