<div class="wrapper">
  <div class="header header-1">
    <div class="page-header header-filter">
      <div
        class="page-header-image rellax"
        data-parallax="true"
        style="background-image: url('assets/img/shop.jpeg');"
      ></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-7 mr-auto text-left">
            <h1 class="title">See our latest collection!</h1>
            <br />

            <div class="buttons">
              <a
                class="btn btn-success btn-round btn-lg mr-3 pulse"
                href="javascript:void(0)"
              >
                <i class="tim-icons icon-bag-16"> </i>
              </a>
              <p>Shop Now!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main">
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-10 mx-auto text-center">
            <h3 class="desc my-5">Fresh new collection</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-lg-3 col-md-6">
                <div class="card card-product card-plain">
                  <div class="card-image">
                    <span class="badge badge-info"> NEW </span>
                    <a href="#">
                      <img alt="..." src="assets/img/tshirt.png" />
                    </a>
                  </div>
                  <div class="card-body">
                    <a href="#">
                      <h4 class="card-title">Polo Ralph Lauren</h4>
                    </a>
                    <div class="card-footer">
                      <div class="price-container">
                        <span class="price"> € 300 </span>
                      </div>
                      <button
                        class="btn btn-danger btn-neutral btn-icon btn-round pull-right"
                        placement="left"
                        tooltip="Remove from wishlist"
                      >
                        <i class="tim-icons icon-heart-2"> </i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6">
                <div class="card card-product card-plain">
                  <div class="card-image">
                    <a href="#"> <img alt="..." src="assets/img/bag.png" /> </a>
                  </div>
                  <div class="card-body">
                    <a href="#"> <h4 class="card-title">Tom Ford</h4> </a>
                    <div class="card-footer">
                      <div class="price-container">
                        <span class="price-old"> € 1179 </span>
                        <span class="price-new ml-1"> € 999 </span>
                      </div>
                      <button
                        class="btn btn-neutral btn-icon btn-round pull-right"
                        placement="left"
                        tooltip="Add to wishlist"
                      >
                        <i class="tim-icons icon-heart-2"> </i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6">
                <div class="card card-product card-plain">
                  <div class="card-image">
                    <a href="#">
                      <img alt="..." src="assets/img/shirt.png" />
                    </a>
                  </div>
                  <div class="card-body">
                    <a href="#"> <h4 class="card-title">Wooyoungmi</h4> </a>
                    <div class="card-footer">
                      <div class="price-container">
                        <span class="price"> € 555 </span>
                      </div>
                      <button
                        class="btn btn-neutral btn-icon btn-round pull-right"
                        placement="left"
                        tooltip="Add to wishlist"
                      >
                        <i class="tim-icons icon-heart-2"> </i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6">
                <div class="card card-product card-plain">
                  <div class="card-image">
                    <a href="#">
                      <img alt="..." src="assets/img/jeans.png" />
                    </a>
                  </div>
                  <div class="card-body">
                    <a href="#"> <h4 class="card-title">Thom Sweeney</h4> </a>
                    <div class="card-footer">
                      <div class="price-container">
                        <span class="price"> € 680 </span>
                      </div>
                      <button
                        class="btn btn-neutral btn-icon btn-round pull-right"
                        placement="left"
                        tooltip="Add to wishlist"
                      >
                        <i class="tim-icons icon-heart-2"> </i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3 ml-auto mr-auto mt-5 text-center">
                <button class="btn btn-primary btn-round btn-simple">
                  Load more...
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container text-center">
      <div class="row">
        <div class="col-md-10 mx-auto text-center mt-5">
          <h3 class="section-title">
            Simplicity is the ultimate sophistication
          </h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="card card-blog card-background" data-animation="true">
            <div
              class="full-background"
              style="background-image: url('assets/img/leather-shoes.jpeg')"
            ></div>
            <div class="card-body">
              <div class="content-bottom">
                <h6 class="card-category">Footwear</h6>
                <a href="javascript:void(0)">
                  <h3 class="card-title">Leather Shoes</h3>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card card-blog card-background" data-animation="true">
            <div
              class="full-background"
              style="background-image: url('assets/img/tshirts.jpeg')"
            ></div>
            <div class="card-body">
              <div class="content-bottom">
                <h6 class="card-category">T-shirts</h6>
                <a href="javascript:void(0)">
                  <h3 class="card-title">100% Silk T-shirts</h3>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="card card-blog card-background" data-animation="true">
            <div
              class="full-background"
              style="background-image: url('assets/img/accesories.jpeg')"
            ></div>
            <div class="card-body">
              <div class="content-bottom">
                <h6 class="card-category">Accessories</h6>
                <a href="javascript:void(0)">
                  <h3 class="card-title">Bracelets and Watches</h3>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="card card-blog card-background" data-animation="true">
            <div
              class="full-background"
              style="background-image: url('assets/img/winter.jpeg')"
            ></div>
            <div class="card-body">
              <div class="content-bottom">
                <h6 class="card-category">Winter</h6>
                <a href="javascript:void(0)">
                  <h3 class="card-title">Latest FW Collection</h3>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-10 mx-auto text-center">
            <h3 class="desc my-5">The latest accessories</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-lg-3 col-md-6">
                <div class="card card-product">
                  <div class="card-image">
                    <a href="#"> <img alt="..." src="assets/img/hat.png" /> </a>
                  </div>
                  <div class="card-body">
                    <a href="#"> <h4 class="card-title">Winter Hat</h4> </a>
                    <div class="card-footer">
                      <div class="price-container">
                        <span class="price"> € 99 </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6">
                <div class="card card-product">
                  <div class="card-image">
                    <a href="#">
                      <img alt="..." src="assets/img/shorts.png" />
                    </a>
                  </div>
                  <div class="card-body">
                    <a href="#"> <h4 class="card-title">Gucci Shorts</h4> </a>
                    <div class="card-footer">
                      <div class="price-container">
                        <span class="price-old"> € 879 </span>
                        <span class="price-new ml-1"> € 499 </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6">
                <div class="card card-product">
                  <div class="card-image">
                    <a href="#">
                      <img alt="..." src="assets/img/bracelet.png" />
                    </a>
                  </div>
                  <div class="card-body">
                    <a href="#">
                      <h4 class="card-title">Diamond Bracelet</h4>
                    </a>
                    <div class="card-footer">
                      <div class="price-container">
                        <span class="price"> € 19,999 </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6">
                <div class="card card-product">
                  <div class="card-image">
                    <a href="#">
                      <img alt="..." src="assets/img/bullet.png" />
                    </a>
                  </div>
                  <div class="card-body">
                    <a href="#"> <h4 class="card-title">Necklace</h4> </a>
                    <div class="card-footer">
                      <div class="price-container">
                        <span class="price"> € 229 </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3 ml-auto mr-auto mt-5 text-center">
                <button class="btn btn-primary btn-round btn-simple">
                  Load more...
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="testimonials-1 section-image">
      <div class="container">
        <div class="row">
          <div class="col-md-6 ml-auto mr-auto text-center">
            <h2 class="title">What Clients Say</h2>
          </div>
        </div>
        <carousel [showIndicators]="false" class="carousel-team">
          <slide>
            <div class="container">
              <div class="row">
                <div class="col-md-5 mr-auto">
                  <div class="space-100"></div>
                  <h3 class="card-title">Lisa Michael</h3>
                  <h3 class="text-warning">• • •</h3>
                  <h4 class="description">
                    Take up one idea. Make that one idea your life - think of
                    it, dream of it, live on that idea. Let the brain, muscles,
                    nerves, every part of your body, be full of that idea, and
                    just leave every other idea alone. This is the way to
                    success. A single rose can be my garden... a single friend,
                    my world.
                  </h4>
                  <a class="btn btn-warning" href="javascript:void(0)">
                    Read more
                  </a>
                </div>
                <div class="col-md-6 ml-auto">
                  <img
                    alt="Second slide"
                    class="d-block"
                    src="assets/img/lucy.jpg"
                  />
                </div>
              </div>
            </div>
          </slide>
          <slide>
            <div class="container">
              <div class="row">
                <div class="col-md-5 mr-auto">
                  <div class="space-100"></div>
                  <h3 class="card-title">Isaac Hunter</h3>
                  <h3 class="text-success">• • •</h3>
                  <h4 class="description">
                    Take up one idea. Make that one idea your life - think of
                    it, dream of it, live on that idea. Let the brain, muscles,
                    nerves, every part of your body, be full of that idea, and
                    just leave every other idea alone. This is the way to
                    success. A single rose can be my garden... a single friend,
                    my world.
                  </h4>
                  <a class="btn btn-success" href="javascript:void(0)">
                    Read more
                  </a>
                </div>
                <div class="col-md-6 ml-auto">
                  <img
                    alt="First slide"
                    class="d-block"
                    src="assets/img/tom-klein.jpg"
                  />
                </div>
              </div>
            </div>
          </slide>
        </carousel>
      </div>
    </div>
  </div>
</div>
